<header>
    <nav>
        <ul>
            <li>
                <a [routerLink]="['home']">
                    <mat-icon id='home'>home</mat-icon>
                </a>
            </li>
            <li *ngIf="!user">
                <a [routerLink]="['login']">
                    <mat-icon id='in'>account_circle</mat-icon>
                </a>
            </li>
            <li *ngIf="user" (click)='doLogout()'>
                <mat-icon id='out'>cancel</mat-icon>
            </li>
        </ul>
    </nav>
    <app-language-switcher></app-language-switcher>
</header>
