<form [formGroup]="loginForm">

<div class="container">
    <mat-form-field class="">
      <mat-label>{{ 'loginInfo.login' | translate }}</mat-label>
      <input matInput
      type="text"
      placeholder= "{{ 'loginInfo.placeHolderLogin' | translate }}"
      formControlName="login">
      <mat-error *ngIf="login.touched && login.invalid">
        {{ 'loginInfo.loginError' | translate }}
      </mat-error>
    </mat-form-field>
   
    <mat-form-field class="">
      <mat-label>{{ 'loginInfo.password' | translate }}</mat-label>
      <input matInput
      type="password"
      placeholder= "{{ 'loginInfo.placeHolderPassword' | translate }}"
      formControlName="password">
      <mat-error *ngIf="login.touched && login.invalid">
        {{ 'loginInfo.passwordError' | translate }}
      </mat-error>
    </mat-form-field>

    <button mat-raised-button
    (click)="doLogin()"
    [disabled]="loginForm.invalid">{{ 'loginInfo.doLogin' | translate }}</button>

  </div>

  <div id="inscription">
    <a [routerLink]="['registration']">
      {{ 'loginInfo.registration' | translate }}
    </a>
  </div>

</form>
  
