$default-font-color: hsl(200, 52%, 25%);

div {
    color: $default-font-color;
    &.movie {
        min-width: 10em;
        width: auto;
        min-height: 5em;
        height: auto;

        h2 {
            &.title {
                letter-spacing: 0.1em;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

ul {
    display: flex;
    list-style-type: none;
    cursor: pointer;

    li {
    &.active {
        background-color: bisque;
    }
    }

}

.card {
    width:auto;
    background-image: radial-gradient(#eee, rgb(0, 59, 51, 70%));
    text-shadow: grey 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: .8%;
    margin-top: .8%;
}

#title
    {text-align: center; 
    font-size: 5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(#eee, rgb(0, 59, 51));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
.title {
    text-align: center;
    font-size: 1.5em;
}

h3 {
    text-align: right;
    font-size: 1.5em;
}

#filter {
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 5px;
}

mat-toolbar {
    height: fit-content;
    background-image: radial-gradient(#eee, rgba(201, 236, 232, 0.3));
}