$default-font-color: midnightblue;

div {
    color: $default-font-color;
    &.movie {
        min-width: 10em;
        width: auto;
        min-height: 5em;
        height: auto;

        h2 {
            &.title {
                letter-spacing: 0.1em;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.movies {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin-top: .7%;
    margin-left: .7%;
    margin-right: .7%;
}

.card {
    display: block;
    flex-grow: 1;
    height: 120px;
    width: 200px;
    background-image: radial-gradient(#eee, rgb(88, 90, 241, 70%));
    text-shadow: grey 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: .8%;
    margin-top: .8%
}

.card-footer {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 50px;
    background: transparent;
}

mat-icon {
    cursor: pointer;
}

#title
    {text-align: center; 
    font-size: 9em;
    margin-top: 0em;
    margin-bottom: 0.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background: url(https://static.lpnt.fr/images/2019/04/19/18483687lpw-18484159-article-jpg_6148153_980x426.jpg) repeat;
    -webkit-background-clip: text;
    }
    
.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: midnightblue;
    font-weight: bold;
}

h3 {
    text-align: right;
    vertical-align: bottom;
    font-size: 1.05em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: midnightblue;
}

#moviesNumber {
    margin-left: 2em;
    font-size: 0.8em;
}

#filter {
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 5px;
}

mat-toolbar {
    height: fit-content;
    background-image: radial-gradient(#eee, rgba(88, 90, 241, 0.3));
}