<h1 id=title>{{ title | uppercase }}</h1>

<mat-toolbar>
  
  <app-search (movies)="receiveMovies($event)">
  </app-search>

  <div id="filter">         
    <mat-form-field>
      <mat-label>By years</mat-label>
     <mat-select [(ngModel)]="year">
        <mat-option [value]="0">All</mat-option>
        <mat-option *ngFor="let year of years" [value]="year">
        {{year}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  </div>

</mat-toolbar>

<div *ngFor="let movie of movies | async" class="movies"> 
  <div class="box" *ngIf="(movie.year == year) || year == 0">
    <mat-card class='card'>
    <h2 class="title"> 
      <a>
      {{ movie.title }}
      </a>
    </h2>

  <div class="card-footer">
    <h3>{{ movie.year }}</h3>
    <div *ngIf="user; then logged else unlogged"></div>
      <ng-template #logged>
        <mat-icon [routerLink]="['../', 'movie', movie.idMovie]">visibility</mat-icon>
      </ng-template>
      <ng-template  #unlogged>
        <mat-icon (click)="snackbarToLogin(movie.idMovie)">visibility</mat-icon>
      </ng-template>
      <mat-icon id="heart" (click)="likeIt(movie)" *ngIf="movie.timesLiked == 0">favorite_border</mat-icon>
      <mat-icon *ngIf="movie.timesLiked > 0"
        matBadge="{{ movie.timesLiked }}"
        matBadgeColor="warn">favorite</mat-icon>
  </div>

      <img src="{{movie.image}}">

    </mat-card>
  </div>
</div>