<h1 id=title>{{ title | uppercase }}</h1>

<mat-toolbar>
  
  <app-search (movies)="receiveMovies($event)">
  </app-search>

  <div id="filter">         
    <mat-form-field>
      <mat-label>By years</mat-label>
     <mat-select [(ngModel)]="year">
        <mat-option [value]="0">All</mat-option>
        <mat-option *ngFor="let year of years" [value]="year">
        {{year}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  </div>

</mat-toolbar>

<div *ngFor="let movie of movies | async" class="movies"> 
  <div class="box" *ngIf="(movie.year == year) || year == 0">
    <mat-card class='card'>
    <h2 class="title"> 
      <a [routerLink]="['../', 'movie', movie.idMovie]">
      {{ movie.title }}
      </a>
    </h2>
    <h3>{{ movie.year }}</h3>
    <img src="{{movie.image}}">
    </mat-card>
  </div>
</div>