<form [formGroup]="registerForm">

<mat-form-field appearance="fill">
    <mat-label>{{'registerInfo.username' | translate}}</mat-label>
    <input matInput 
    type="text"
    formControlName="username">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>{{'registerInfo.password' | translate}}</mat-label>
    <input matInput
    type="text"
    formControlName="password">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>{{'registerInfo.firstName' | translate}}</mat-label>
    <input matInput
    type="text"
    formControlName="firstName">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>{{'registerInfo.lastName' | translate}}</mat-label>
    <input matInput
    type="text"
    formControlName="lastName">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>{{'registerInfo.eMail' | translate}}</mat-label>
    <input matInput
    type="text"
    formControlName="eMail">
  </mat-form-field>
  <br>

</form>

  <button mat-raised-button
  [disabled]="registerForm.invalid"
  (click)="register()">{{'registerInfo.register' | translate}}</button>
