h1 {
    text-align: center;
    font-size: 3rem;
    color: midnightblue;
}

li {
    list-style-type: none;
    margin-left: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    cursor: pointer;
}

#buttons {
    margin-top: 3em;
}

#delete {
    margin-left: 1em;
}