<h1>{{movie.title}}</h1>
<ul>
    <li id="year">Released in {{movie.year}}</li>
    <li id="duration">Duration : {{movie.duration}} minutes</li>
    <li id="originalTitle">{{movie.originalTitle}}</li>
    <li id="genres">{{movie.genres}}</li>
    <li id="synopsis">{{movie.synopsis}}</li>
    <li id="format">{{movie.format}}</li>
    <li id="numberUsersLiking">{{movie.numberUsersLiking}} of y'all liked this movie</li>
    <li id="usersLiking" 
    *ngFor="let usersLiking of movie.usersLiking">
        <a>
        movie liked by : {{ usersLiking.username }}
        </a>
    </li>
    <li id="buttons">
        <button 
            mat-raised-button
            color="primary"
            [routerLink]="['modify']">
            Modify
        </button>
        <button id="delete"
            mat-raised-button
            color="primary"
            (click)="deleteMovie()">
            Delete
        </button>
    </li>
</ul>



